song {text-weight:900; font-family: Book Antiqua; display:block; padding:10px;
    margin-left: 20px}
artist {font-size: 20px}
songTitle {display: block; padding-left: 20px}
genre {display: block; padding-left: 20px}
year {display: block; padding-left: 20px}
